<footer>
    <!-- Footer Section -->
    <h2 class="treatment_taital">Servizi medici per tutte le età</h2>
    <p class="treatment_text_2" align="center">La salute è molto più dell’assenza di malattia.</div>

    <footer class="footer_section">
        <div class="container" align="center">
            <p><i class="fa fa-phone"></i> call: 039 12345678</p>
            <p><i class="fa fa-envelope"></i> email: KMBhealthcenter@gmail.com</p>
            <p><i class="fa fa-map-marker"></i> Via Diagonale 15 (accanto a Museumsufer), Verona</p>
            <p>KMB Health Group – Committed to Your Wellbeing, Every Step of the Way.</p>
            <p>© 2025 All Rights Reserved. Design by KMB.</p>
        </div>
    </footer>
</footer>