{% load static %}

<header>
    <!-- header section start -->
    <div class="header_section" style="padding-top: 0px; padding-bottom: 10px;">
        <div class="container">
            <div class="custom_bg" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">
                <li class="navbar-brand" style="text-align: left; width: 10%; padding-left: 30px;">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/logo2verde.png' %}">
                    </a>
                </li>
            </div>
        </div>
    </div>
    <div class="custom_bg">
        <div class="custom_menu" style="background-color: #098547;">
            <nav>
                <ul>
                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                    <li class="active"><a href="{% url 'about' %}">About</a></li>
                    <li class="active"><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <div class="custom_menu" style="background-color: #098547; width: 22%">
            <div class="search_btn">
                <li><a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i><span class="signup_text">Login</span></a></li> 
                <li><a href="#"><i class="fa fa-search" style="background-color: #098547;" aria-hidden="true"></i></a></li>
            </div>
        </div>
    </div>
    <div style="background-color: white; height: 5px; width: 100%; margin-bottom: 5px;"></div>
    <!-- header section end -->
</header>
