{% extends 'base.html' %}
{% load static %}

{% block title %}Prenota una Visita o Prestazione{% endblock %}

{% block content %}
    <h2>Prenota una nuova visita o prestazione</h2>
    <p>Compila il modulo per prenotare una visita medica o una prestazione infermieristica. Riceverai una conferma via email.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Prenota</button>
    </form>

    <a href="{% url 'pagina_paziente' %}" class="button">Annulla e torna alla tua pagina</a>
{% endblock %}
